{{> head}}
{{> navbar}}

<div class="row">
    <div class="col">
        <h1>A good Developer uwu</h1>
    </div>
    <div class="col-8">
        <img src="assets/img/asd.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}